/* Importing Inter font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Public+Sans:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #5145ba;
}

.container {
    width: 500px;
    background-color: #fff;
    border-radius: 5px;
}

.container .uploader-header {
    display: flex;
    padding: 20px;
    border-radius: 5px 5px 0 0;
    background-color: #eef1fb;
    align-items: center;
    justify-content: space-between;
}

.uploader-header .uploader-title {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.uploader-header .file-completed-status {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
}

.container .file-list {
    list-style: none;
    width: 100%;
    padding-bottom: 10px;
    max-height: 400px;
    overflow-y: auto; 
    scrollbar-color: #999 transparent;
    scrollbar-width: thin;
}

.container .file-list:has(li) {
    padding: 20px;
}

.file-list .file-item {
    display: flex; 
    gap: 14px;
    margin-bottom: 23px;
}

.file-list .file-item .file-extension {
    height: 50px;
    width: 50px;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: #5145b5;
}

.file-list .file-item .file-content-wrapper {
    flex: 1;
}

.file-list .file-item .file-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.file-list .file-item .file-name {
    font-size: 1rem;
    font-weight: 600;
}

.file-list .file-item .file-info {
    display: flex;
    gap: 5px;
}

.file-list .file-item .file-info small {
    color: #5c5c5c;
    margin-top: 5px;
    display: block;
    font-size: 0.9rem;
    font-weight: 500;
}

.file-list .file-item .file-info .file-status {
    color: #5145b5;
}

.file-list .file-item .cancel-button {
    align-self: center;
    border: none;;
    outline: none;
    background: none;
    cursor: pointer;
    font-size: 1.4rem;
}

.file-list .file-item .cancel-button:hover {
    color: #E3413F;
}

.file-list .file-item .file-progress-bar {
    width: 100%;
    height: 3px;
    margin-top: 10px;
    border-radius: 30px;
    background-color: #d9d9d9;
}

.file-list .file-item .file-progress-bar .file-progress {
    width: 0%;
    height: inherit;
    border-radius: inherit;
    background-color: #5145b5;
}

.container .file-upload-box {
    margin: 10px 20px 20px;
    border-radius: 5px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #b1add4;
    transition: all 0.2s ease;
}

.container .file-upload-box.active {
    border: 2px solid #5145ba;
    background-color: #f3f6ff;
}

.container .file-upload-box .box-title {
    font-size: 1.05rem;
    font-weight: 500;
    color: #626161;
}

.container .file-upload-box.active .box-title {
    pointer-events: none;
}

.file-upload-box .box-title .file-browse-button {
    color: #5145b5;
    cursor: pointer;
}

.file-upload-box .box-title .file-browse-button:hover {
    text-decoration: underline;
}