body {
    margin: 0;
    padding: 0;
    background: rgb(14, 12, 21);
    font-family: monospace;
    color: lightgray;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    border: 0.5px solid rgba(110, 101, 114, 0.5);
    z-index: 999;
}

.head-left {
    display: flex;
    align-items: center;
}

.head-left img {
    height: 45px;
    margin-right: 15px;
}

header ul {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

header ul li {
    list-style: none;
}

header a {
    text-decoration: none;
    color: gray;
    font-weight: 900;
    font-size: 15px;
    transition: 0.3s;
}

header a:hover {
    color: lightgray;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.352);
}

.head-right {
    display: flex;
    align-items: center;
}

.button-box {
   position: relative; 
   width: 100px;
   height: 45px;
   margin-left: 25px;
   background: linear-gradient(to right, #00aaa7, #7f42a7, #6600c5, #1f2b9c, #2a46ff, #0099ff,#00aaa7);
   border-radius: 10px;
   background-size: 200%;
   animation: animationGradient 2.5s linear infinite;
   clip-path: polygon(0 0, 82% 0, 100% 34%, 100% 80%, 100% 99%, 0 100%, 0 80%, 0 20%);
}

@keyframes animationGradient {
    to {
        background-position: 200%;
    }
}

.head-right button {
    position: absolute;
    inset: 3px 3px 3px 3px;
    border: none;
    background: rgb(14, 12, 21);
    color: lightgray;
    border-radius: 10px;
    clip-path: polygon(0 0, 82% 0, 100% 34%, 100% 80%, 100% 99%, 0 100%, 0 80%, 0 20%);
    cursor: pointer;
    transition: 0.3s;
}

.head-right button:hover {
    color: #7e00d2;
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 150vh;
    overflow: hidden;
}

.hero-blur-image {
    position: absolute;
    width: 100%;
    top: -15%;
}

.hero-rings-image {
    position: absolute;
    height: 90%;
    top: 90%;
    opacity: 0.4;
}

.hero-icons-image {
    width: 100%;
    position: absolute;
    top: 8%;
}

.hero h1 {
    position: absolute;
    top: 10%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    max-width: 1000px;
    text-align: center;
    color: white;
}

.hero h3 {
    position: absolute;
    top: 22%;
    font-size: 20px;
    max-width: 700px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: gray;
}

.hero button {
    position: absolute;
    top: 30%;
    border: none;
    background-color: white;
    color: black;
    border-radius: 10px;
    width: 140px;
    height: 50px;
    cursor: pointer;
    font-weight: bold;
    clip-path: polygon(0 0, 86% 0, 98% 40%, 100% 80%, 100% 100%, 0 100%, 0% 80%, 0% 20%);
    transition: 0.3s;
}

.hero button:hover {
    opacity: 0.7;
    color: #7e00d2;
}

.hero-image-box {
    margin-top: 250px;
    position: relative;
    width: 1000px;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background: linear-gradient(to right, #00aaa7, #7f42a7, #6600c5, #1f2b9c, #2a46ff, #0099ff,#00aaa7);
    background-size: 200%;
    animation: animationGradient 2.5s linear infinite;
}

.hero-image-box .robot-box {
    width: 99%;
    height: 98%;
    overflow: hidden;
    position: relative;
    border-radius: 50px;
}

.hero-image-box .robot-box img{
   width: 100%; 
   height: 100%;
   mix-blend-mode: hard-light;
}

.hero-image-box .robot-box .robot-header {
    height: 30px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}

.hero-image-box .element1 {
    position: absolute;
    top: 25%;
    right: -15%;
    backdrop-filter: blur(10px);
    width: 25%;
    border-radius: 15px;
}

.hero-image-box .element1 img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.432);
}

.hero-image-box .element2 {
    position: absolute;
    top: 45%;
    left: -15%;
    backdrop-filter: blur(10px);
    width: 25%;
    border-radius: 15px;
    
}

.hero-image-box .element2 img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.432);
}

.parallax {
    transition: transform 1s linear;
}

/* Sign In Page */
.signin-page-box {
    position: fixed;
    top: 60%;
    width: 30%;
    height: 60vh;
    opacity: 0;
    filter: blur(10px);
}

.signin-page {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(14, 12, 21);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.484);
    border-radius: 20px;
}

.signin-page h1 {
    font-size: 40px;
    font-weight: bold;
}

.signin-page input {
    padding: 7.5px 30px;
    background-color: lightgray;
    width: 60%;
    height: 40px;
    border: none;
    outline: none;
    clip-path: polygon(0 0, 93% 1%, 100% 51%, 100% 80%, 100% 100%, 0 100%, 0% 80%, 0% 20%);
    border-radius: 5px;
    margin-bottom: 5%;
}

.signin-page button {
    width: 50%;
    height: 40px;
    font-size: 20px;
    font-weight: 700;
    background-color: #7e00d2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.signin-page p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 40px;
    font-size: 20px;
    font-weight: 700;
    background-color: gray;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.signin-page div {
    position: absolute;
    top: 3%;
    right: 3%;
    font-size: 40px;
    cursor: pointer;
    transition: 0.3s;
}

.signin-page div:hover {
    opacity: 0.7;
}

/* Open Signin Page */
.open-signin-page {
    animation: openSigninAnimation 0.7s forwards;
}

@keyframes openSigninAnimation {
    to {
        filter: blur(0);
        opacity: 1;
        top: 30%;
    }
}

/* close signin page */
.close-signin-page {
    animation: closeSigninAnimation 0.7s forwards;
}

@keyframes closeSigninAnimation {
    from {
        filter: blur(0);
        opacity: 1;
        top: 30%;
    }
    to {
        filter: blur(10px);
        opacity: 0;
        top: 60%;
    }
}

/* companies section */
.hero h4 {
    position: absolute;
    bottom: 12%;
    color: gray;
}

.companies-list {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 3%;
    width: 100%;
}

.companies-list .company {
    display: flex;
    align-items: center;
}

.companies-list .company img {
    height: 50px;
    margin-right: 10px;
}

.companies-list .company p {
    font-size: 30px;
    font-weight: bold;
}

/* tablet responsive */
@media screen and (max-width: 1000px){
    header {
        padding: 10px 10px;
    }

    header ul {
        min-width: 300px;
    }

    .head-right a {
        margin-right: -20px;
    }

    .hero h1 {
        font-size: 35px;
    }

    .hero-image-box {
        height: 450px;
    }

    .hero-image-box .element1 {
        right: 5%;
        top: -12%;
    }

    .hero-image-box .element2 {
        left: 5%;
        top: 95%;
    }

    .companies-list .company img {
        height: 35px;
    }

    .companies-list .company p {
        font-size: 20px;
    }

    .signin-page-box {
        width: 70%;
    }
}

/* mobile responsive */
@media screen and (max-width: 700px) {
    header ul {
        display: none;
    }

    .hero h1 {
        top: 6%;
    }

    .hero h3 {
        font-size: 15px;
        max-width: 350px;
        line-height: 22px;
    }

    .hero button {
        top: 32%;
    }

    .hero-image-box {
        height: 250px;
    }

    .hero-image-box .element1 {
        width: 140px;
        height: 50px;
        top: -15px;
    }

    .hero-image-box .element2 {
        width: 140px;
        height: 50px;
    }

    .hero h4 {
        bottom: 18%;
    }

    .companies-list {
        max-width: 400px;
        justify-content: center;
        gap: 30px;
    }

    .companies-list .company img {
        height: 20px;
    }

    .companies-list .company p {
        font-size: 10px;
    }

    .signin-page input {
        height: 20px;
    }

}
