.info-copier-container {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    height: 300px;
    width: 50px;
    border-radius: 10px;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-copier-container .info-copier-logo {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    border-bottom: 3px solid #0C0C17;
}

.info-copier-container .info-copier-button-container {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: auto;
}

.info-copier-container .info-copier-button-container button {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #0D0E19;
    color: #b8babc;

}

.info-copier-container .info-copier-button-container button:hover {
    background-color: #e74c3c;
}
