/* Import Google fonts : Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Public+Sans:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #5f41e4;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    max-width: 425px;
    flex-grow: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.search-section {
    display: flex;
    padding: 25px;
    gap: 10px;
    align-items: center;
}

.search-section .input-wrapper {
    height: 54px;
    width: 100%;
    position: relative;
}

.search-section .input-wrapper span {
    position: absolute;
    top: 50%;
    left: 17px;
    transform: translateY(-50%);
    pointer-events: none;
}

.search-section .search-input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 20px 0 50px;
    border-radius: 6px;
    border: 1px solid #beb0ff;
}

.search-section .search-input::placeholder {
    text-transform: none;
}

.search-section .location-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 54px;
    width: 56px;
    color: #5f41e4;
    cursor: pointer;
    outline: none;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #beb0ff;
    transition: all 0.3s ease;
}

.search-section .location-button:hover {
    color: #fff;
    background-color: #5f41e4;
    border-color: #5f41e4;
}

.search-section .location-button span {
    font-size: 1.3rem;

}

.no-results {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    padding: 40px;
    text-align: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
}

.no-results .title {
    margin: 25px 0 15px;
}

.no-results .message {
    font-weight: 500;
}

body.show-no-results .no-results {
    display: flex;
}

body.show-no-results .weather-section {
    visibility: hidden;
}

.weather-section .current-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 50px;
}

.current-weather .weather-icon {
    width: 140px;
    aspect-ratio: 1/1;
}

.current-weather .temperature {
    font-size: 3.38rem;
    margin: 23px 0;
    display: flex;
}

.current-weather .temperature span {
    font-size: 1.56rem;
    font-weight: 500;
    margin: 5px 0 0 2px;
}

.current-weather .description {
    font-size: 1.25rem;
    font-weight: 500;
}

.hourly-weather {
    padding: 16px 25px 0;
    border-top: 1px solid #d5ccff;
}

.hourly-weather .weather-list {
    display: flex;
    list-style: none;
    gap: 38px;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.hourly-weather:hover .weather-list {
    scrollbar-color: #bfbfbf transparent;
}

.hourly-weather .weather-item {
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-size: 500;
    align-items: center;
}

.hourly-weather .weather-item .weather-icon {
    width: 28px;
    aspect-ratio: 1/1;
}

@media (max-width: 624px) {
    body {
        padding: 15px;
    }

    .search-section {
        padding: 20px;
    }

    .hourly-weather {
        padding: 16px 20px;
    }

    .hourly-weather .weather-list {
        gap: 32px;
    }
}