* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 300px;
    height: 500px;
    background-color: #191919;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.focus_mode {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
}

#focus_mode_button {
    width: 100%;
    height: 30px;
    color: #fff;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: #333333;
    cursor: pointer;
}

#focus_mode_button:hover {
    background-color: #525252;
}