* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #88abff;
}

.wrapper {
    margin: 50px;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, 265px);
}

.wrapper li {
    list-style: none;
    background-color: #fff;
    height: 250px;
    border-radius: 5px;
    padding: 15px 20px 20px;
}

.wrapper .add-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.add-box .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 78px;
    width: 78px;
    color: #88abff;
    font-size: 40px;
    border-radius: 50%;
    border: 2px dashed #88abff;
}

.add-box p {
    color: #88abff;
    font-weight: 500;
    margin: 20px;
}

.wrapper .note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.note .details {
    overflow-y: hidden;
}

.note p {
    font-size: 22px;
    font-weight: 500;
}

.note span {
    display: block;
    margin-top: 5px;
    color: #575757;
    font-size: 16px;
}

.note .bottom-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.bottom-content span {
    color: #6d6d6d;
    font-size: 14px;
}

.bottom-content .settings {
    position: relative;
}

.bottom-content .settings i {
    color: #6d6d6d;
    font-size: 15px;
    cursor: pointer;
}

.settings .menu {
    position: absolute;
    bottom: 0;
    right: -5px;
    padding: 5px 0;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    transform: scale(0);
    transition: transform 0.2s ease;
    transform-origin: bottom right;
}

.settings:hover .menu {
    transform: scale(1);
}

.settings .menu li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 25px;
    border-radius: 0;
    cursor: pointer;
    font-size: 16px;
    padding: 17px 15px;
}

.settings .menu li:hover { 
    background-color: #f5f5f5;
}

.menu li i {
    padding-right: 8px;
}

.popup-box {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-box .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    max-width: 400px;
    width: 100%;
    transform: translate(-50%, -50%);
}

.popup .content {
    background-color: #fff;
    border-radius: 5px;
}

.popup .content header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
    border-bottom: 1px solid #ccc;
}

.content header p {
    font-size: 20px;
    font-weight: 500;
}

.content header i {
    color: #8b8989;
    cursor: pointer;
    font-size: 23px;
}

.content form {
    margin: 15px 25px 35px;
}

.content form .row {
    margin-bottom: 20px;
}

form .row label {
    display: block;
    font-size: 18px;
    margin-bottom: 6px;
}

.content form :where(input, textarea) {
    width: 100%;
    height: 50px;
    outline: none;
    font-size: 17px;
    padding: 0 15px;
    border-radius: 4px;
    border: 1px solid #999;
}

.content form textarea {
    height: 150px;
    resize: none;
}